*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
}
body{
    background-color: #b3ffd9;
}
.entete{
   max-width:600px;
   background-color: lightblue;
   margin:20px auto;
   display:flex;
   justify-content: center;
}
#content{
    background-color: lightgreen;
    max-width:600px;
    margin:20px auto;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
#content1{
    background-color: #ff6666;
    margin:20px auto;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
#content2{
    background-color: lightyellow;
    margin:20px auto;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
#content3{
    background-color: #3399ff;
    margin:20px auto;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
#content4{
    background-color: lightblue;
    margin:20px auto;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
#first-line , #second-line , #third-line {
    display: flex;
    flex-wrap: wrap;
}
img{
    width:100px;
    box-shadow: 33px 36px 79px 0px rgba(0,0,0,0.75);
}
